<div class="row">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="toggle-topbar menu-icon"><a href=""><span><%= t('menu.menu') %></span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="left">
        <li><a href="/" class="link"><%= t('menu.home') %></a></li>
        <li><a href="#" class="link"><%= t('menu.about') %></a></li>
        <li><a href="/ru/projects" class="link"><%= t('menu.portfolio') %></a></li>
        <li><a href="#" class="link"><%= t('menu.contacts') %></a></li>
      </ul>
    </section>
  </nav>
</div>