<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Salex Personal Blog" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row header">
      <div class="large-12 columns">
        <%= render 'shared/header' %>
      </div>
    </div> 
    
    <div class="row page">
      <div class="large-8 columns main-content" role="content" id="content">    
        <%= yield %>
      </div>
      <!-- the sidebar section -->  
      <aside class="large-3 columns sidebar">
        <%= yield :sidebar %>
      </aside>       
    </div>
    
    <footer class="row">
      <div class="large-12 columns">
        <div class="row">
          <div class="large-6 columns">
            <p>Copyright © 2015 Sergey Alekseenko</p>
          </div>
        </div>
      </div>
    </footer>
    <%= javascript_include_tag "application" %>
    <%= yield :scripts %>
  </body>
</html>